node_modules\n.env\n*.log
downloads/
node_modules/
downloads/
output/
out_pdf/
safe_output/
*.mp3
*.pdf
*.epub
node_modules/
downloads/
output/
out_pdf/
safe_output/
*.mp3
*.pdf
*.epub
node_modules/
downloads/
output/
out_pdf/
safe_output/
*.mp3
*.pdf
*.epub
node_modules/
downloads/
output/
out_pdf/
safe_output/
*.mp3
*.pdf
*.epub

.env
node_modules/
